
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a class="brand-logo center"><img src="../../../assets/logo-completo500.png" alt="Gual Street" width="60px"></a>
      </div>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLink="inicio"><i class="material-icons">home</i></a></li>
        <!-- Dropdown Trigger -->
        <a class='dropdown-button btn red lighten-2' href='javascript:void(0);' data-activates='dropTablas' dropdown data-hover="true">Tablas</a>
      </ul>
    </div>
  </nav>
  <script> $(".button-collapse").sideNav(); </script>


<!-- Dropdown Structure -->
<ul id='dropTablas' class='dropdown-content'>
    <li><a href="javascript:void(0);" routerLink="tbl-productos">Productos</a></li>
    <li><a href="javascript:void(0);" routerLink="tbl-rubros">Rubros</a></li>
    <li><a href="javascript:void(0);" routerLink="tbl-proveedores">Proveedores</a></li>
    <li><a href="javascript:void(0);" routerLink="tbl-clientes">Clientes</a></li>

</ul>
      